{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>Volumen</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  {% block styling %}
  <link rel="stylesheet" type="text/css" href="{% static 'mystyle.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'skeleton/css/custom.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'skeleton/css/normalize.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'skeleton/css/skeleton.css' %}"> {% endblock styling %}


  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    {% block favicon %}
  <link rel="icon" type="image/png" href="{% static 'skeleton/images/favicon.png' %}">
{% endblock favicon %}
</head>

<body>
  <a href="https://github.com/volumen/"><img style="position: absolute; top: 0; right: 0; border: 0; width: 149px; height: 149px;" src="http://aral.github.com/fork-me-on-github-retina-ribbons/right-red@2x.png" alt="Fork me on GitHub"></a>

  <div class="container">
    <div class="navbar-spacer"></div>
    {% block header %}
       {% include "common/header.html" %}
    {% endblock %}

    <br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    {% block footer %}
       {% include "common/footer.html" %}
    {% endblock %}
  </div>

  <!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>

</html>
