{% load staticfiles %}
<!-- This command ensures loading of the static files. -->

<html>

<head>
  <title>Home Page</title>

  {% block styling %}
  <link rel="stylesheet" href="{% static 'mystyle.css' %}">
  {% endblock styling %}
</head>

<body>
  Hello world
  <br><br><br><br>

  <table class="tg">
    <tr>
      <th class="tg-yw4l"><a href="/">home</a></th>
      <th class="tg-yw4l"><a href="/browse/">browse</a></th>
      <th class="tg-yw4l"><a href="/player/">player</a></th>
      <th class="tg-yw4l"><a href="/user/">user</a></th>
    </tr>
  </table>
  <br><br><br><br>
  <br><br><br><br>
  <br><br><br><br>


  <a href="https://status.adminlabs.com/status/page/id/a948b193-9643-11e7-a027-000c29d658bc/">status</a><br>
  <a href="/help/">help</a><br>
  <a href="/contact/">mail to web-minister@voluman.ch</a><br>

</body>

</html>
